node_modules
.vscode-test/
*.vsix
.env
duotone
duotone/
duotone/*
dist
dist/
dist/*
package-lock.json
artifacts
artifacts/
artifacts/*
*.exe
*.msi
*.zip
*.dll
*.obj
build
build/
build/*
